/*font-family: 'Kaushan Script', cursive;
font-family: 'Gloria Hallelujah', cursive;*/


body {
  font-family: 'Gloria Halleluja', cursive;
}

h1 {
  text-shadow: .12em .12em .1em #888;
}

h1,
legend {
  font-family: 'Kaushan Script', cursive;
}

legend {
  font-size: 1.75em;
}

header {
  background-color: #4d0000;
  overflow: hidden;
  color: #fff;
  width: 100%;
  text-align: center;
}

#signup {
  margin-top: 1em;
  text-align: center;
}

.border {
  height: 1em;
  width: 56%;
  margin: 2em 22% 1em;
  background: radial-gradient(#4d0000, transparent 70%);
  border: none;
}

.divA,
.divB {
  height: 1px;
  width: 90%;
  margin: 0 5%;
  border-bottom: 3px solid #4d0000;
}

.divB {
  border-bottom: 1px solid #4d0000;
}

.form1 {
  text-align: left;
  margin-top: 15px;
}

.form2 {
  text-align: left;
  margin-top: 15px;
}

::-webkit-input-placeholder {
  text-align: right;
  color: #000;
}

#contact_info {
  margin: 10px 0;
}

#name:hover,
#email:hover,
#number:hover,
#address:hover,
#city:hover,
#state:hover,
#suffix:hover,
#age:hover,
#zip:hover,
button:hover,
textarea:hover {
  transition: background-color 1s ease;
  background-color: darkgrey;
}

#name:focus,
#email:focus,
#number:focus,
#address:focus,
#city:focus,
#state:focus,
#suffix:focus,
#age:focus,
#zip:focus,
button:focus,
textarea:focus {
  transition: background-color 1.5s ease;
  background-color: #4d0000;
  color: #fff;
  border: 0;
}

#newsletter {
  border-top: 1px solid #4d0000;
  width: 90%;
  margin: 0 5%;
}

fieldset {
  border: 0;
}

#html_news,
#css_news,
#javascript_news,
#html_format,
#plain_format,
#suffix,
#age,
#name,
#email,
#number,
#address,
#city,
#state,
#suffix,
#age,
#zip,
button,
textarea {
  display: block;
  margin: 10px auto;
  width: 90%;
  border: 0;
  background-color: #ccc;
}

#age,
#name,
#email,
#number,
#address,
#city,
#state,
#suffix,
#age,
#zip,
button {
  box-shadow: .4em .4em .6em #888;
}

select,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

button {
  font-family: 'Kaushan Script', cursive;
  background-color: #4d0000;
  color: #fff;
}

#html_news,
#css_news,
#javascript_news,
#html_format,
#plain_format,
#suffix,
#age,
#over_13,
#under_13 {
  display: inline;
  width: 5%;
  margin-left: 10px;
  margin-right: 10px;
}

#suffix {
  width: 3.5em;
  float: right;
}

textarea {
  width: 88%;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  clear: both;
  text-align: center;
  padding-top: 1em;
}

/***********************
MEDIA QUERIES
***********************/

@media (min-width: 760px) {

  #container {
    max-width: 70%;
    margin: 0 15%;
  }

  .border {
    width: 68%;
    margin: 2em 16% 1em;
    height: 1em;
  }

  .divA,
  .divB {
    width: 93%;
  }

  #contact_info {
    padding-left: 24px;
  }

  #name,
  #email,
  #number,
  #address,
  #city,
  #state,
  #zip {
    display: inline-block;
    margin: 10px auto;
    width: 60%;
    float: right;
  }

  #over_13,
  #under_13 {
    display: inline-block;
    margin: 10px auto;
    width: 10%;
    float: right;
    margin-right: 50%;
  }

  #html_news,
  #css_news,
  #javascript_news,
  #html_format,
  #plain_format {
    width: 4%;
  }

  #zip,
  #suffix {
    display: inline-block;
    width: 30%;
    float: right;
    margin-right: 0;
  }

  .name,
  .email,
  .number,
  .address,
  .city,
  .state,
  .zip,
  .suffix,
  .age {
    display: inline-block;
    width: 30%;
    margin: 10px auto;
    clear: both;
    padding-left: 2em;
  }

  #newsletter {
    width: 95%;
  }

  textarea {
    width: 89%;
  }


}

@media (min-width: 1024px) {

  #container {
    max-width: 100%;
    margin: 0;
  }

  fieldset {
    float: left;
    width: 40%;
    margin-left: 5%;
  }

  #newsletter {
    border: none;
  }

  textarea {
    width: 88.2%;
  }

  .border {
    clear: both;
  }

  #under_13,
  #over_13 {
    clear: both;
  }

  footer {
    padding-top: 0;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

}
